.addcitydetail-box{
    height: 700px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/footer_bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-addcitydetail{
    font-family: sans-serif;
    position: absolute;
    top: 53%;
    left: 50%;
    width:350px;
    transform: translate(-50% , -50%);
    text-align: center;
    align-items: center;
    z-index: 999;
    padding: 20px 20px;
    /* background: rgba(255,255,255,0.04); */
    background: rgba(255,255,255,0.94);
    /* box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75); */
}

strong{
    float:left;
}
input[type='text']{
    width:270px;
    height:33px;
    float:left;
    margin-top:2%;
    display: flex;
}
.link a{
    color: black;
}

.container-addcitydetail header{
    color: black;
    font-size: 33px;
    margin: 0 0 35px 0;
    font-family: sans-serif;

}

input[type='submit']{
    /* color: #3363ff;
    background-color: #d8e0fd;
    border: 1px solid black;
    color: black; */
    width: 125px;
    height: 40px;
    /* float: center;
    font-size: 18px; */
}

/* input[type='submit']:hover{
    background-color: #c2cffc;
    
} */
#addcitydetail{
    margin-left: 0px;
    height:45px;
}
.back{
    color:black;
    font-size:1.5rem;
    margin-top: 30%;
}