*{
    padding: 0;
   margin: 0;
   
}
.header{
    align-items: center; 
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    position: relative; 
    padding-top: 5%;
}
.container{
    height: 700px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/signinbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 150px;
    width: 550px;
    height: 380px;
    background: #dedede;
    border-radius: 5px;
}
.label{
    font-size: 35px;
    font-weight: bolder;
    color: #4d232a;
}
.adminSignin_form{
    padding: 20px 40px;
}
.adminSignin_form .font{
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
    font-weight: bold;
}
.adminSignin_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}
.adminSignin_form .font2{
    margin-top: 30px;
}
.adminSignin_form input[type="submit"]{
    margin: 35px 0px 30px 100px; 
    height: 45px;
    width: 150px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #1A237E;
    border-radius: 3px;
    border: 1px solid #3949AB;
    transition: .5s;
}

.adminSignin_form input[type="submit"]:hover{
    background: #000003;
}