.container-managevenue{
    background: #dedede;
}
.label3{
    font-size: 35px;
    font-weight: bolder;
    color: #4d232a;
}
b{
    font-size: 25px;
    font-weight: bolder;
    color: #4d232a;
}
.back3{
    color:black;
    font-size:1.5rem;
    margin-top: 5%;
}
.table{
    width:1000px;
}
.clm1,.clm2,.clm3,.clm4,.clm5,.clm6,.clm7,.clm8{
    width:0.1%;
    height:0.1%;
}
.clm9{
    width:0.2%;
}